<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOG-ANALYZER</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        h1 {
            margin-top: 50px;
        }
        table {
            width: 60%;
            margin: 20px auto;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>LOG ANALYSIS REPORT</h1>
    <p>The date and time: <span id="currentDateTime"></span></p>

    
    <table id="ATTACK ATTEMPS">
        <caption>Frequently attempted attacks</caption>
        <tr>
            <th>ATTACK</th>
            <th>Number of ATTEMPS</th>
        </tr>
        {% for i in range( MOST_ATTACK_ATTEMPS|length) %}
        <tr>
            <td>{{MOST_ATTACK_ATTEMPS[i][0] }}</td>
            <td>{{MOST_ATTACK_ATTEMPS[i][1] }}</td>
        </tr>
        {% endfor %}
    </table>


    <table id="endpoint-table">
        <caption>Most Requested Endpoints</caption>
        <tr>
            <th>Endpoint</th>
            <th>Number of Requests</th>
        </tr>
        {% for i in range(MOST_REQUESTED_ENDPOINT|length) %}
        <tr>
            <td>{{ MOST_REQUESTED_ENDPOINT[i][0] }}</td>
            <td>{{ MOST_REQUESTED_ENDPOINT[i][1] }}</td>
        </tr>
        {% endfor %}
    </table>

    <table id="datatablesSimple">
        <caption>IP BLACK LIST</caption>
        <thead>
            <tr>
                <th>IP</th>
                <th>ATTACK</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(IP_LIST|length) %}
            <tr>
                <td>{{ IP_LIST[i] }}</td>
                <td>{{ ATTACK_LIST[i] }}</td>

            <tr>
            {% endfor %}
        </tbody>
    </table>


    <script>
        // Get the current date and time
        var currentDateTime = new Date();
        
        // Format the date and time as YYYY-MM-DD HH:MM:SS
        var formattedDateTime = currentDateTime.getFullYear() + "-" + (currentDateTime.getMonth() + 1) + "-" + currentDateTime.getDate() + " " +
                                currentDateTime.getHours() + ":" + currentDateTime.getMinutes() + ":" + currentDateTime.getSeconds();
        
        // Display the formatted date and time in the HTML
        document.getElementById("currentDateTime").textContent = formattedDateTime;
    </script>
</body>
</html>

